.menu-item {
  display: block;
  width: 185px;
  background: transparent;
  align-items: center;
  font-size: 15px;
  font-family: Consolas;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  padding: 5px 0 0 15px;
}

.menu-item:hover,
.menu-item:active .menu-item.active {
  background: #3b3e59;
}


.logout-box {
  padding-top: 250px;
}

.logout {
  display: block;
  color : #ffffff;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Consolas;
  font-weight: bold;
  text-decoration: none;
  color: #F28366;
  cursor: pointer;
}

.logout:hover,
.logout:active {
  color: #CC6E56;
}